<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <!--Meta-data-->
        <meta-data
            android:name="githubBaseUrl"
            android:value="${GITHUB_BASE_URL}" />
        <meta-data
            android:name="githubApiToken"
            android:value="${GITHUB_API_TOKEN}" />
    </application>
</manifest>